<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <listeners>
         <listener class="\Prezent\Soap\Client\Tests\PHPUnit\WebServerListener" />
    </listeners>

    <php>
        <const name="WEB_SERVER_HOSTNAME" value="127.0.0.1" />
        <const name="WEB_SERVER_PORT" value="8080" />
        <const name="WEB_SERVER_DOCROOT" value="./tests/Fixtures/Server" />
    </php>
</phpunit>
